@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~react-toastify/dist/ReactToastify.min.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #34353a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Coustom */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.remove-arrow::-webkit-inner-spin-button, 
.remove-arrow::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 
  
.remove-arrow { 
  -moz-appearance: textfield; 
}

/* Code Block */
pre {
  border-radius: 0.5rem 0.5rem;
  margin: 30px 0 !important;
}

/* styles/nprogress.css */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d; /* Change the color of the progress bar */
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Height of the progress bar */
}

#nprogress .peg {
  display: block;
  position: absolute;
  z-index: 1031;
  height: 2px;
  right: 0;
  width: 100px; /* Length of the peg */
  background: #29d; /* Color of the peg */
  box-shadow: 0 0 10px #29d, 0 0 5px #29d; /* Shadow for the peg */
  opacity: 1.0;
  transform: translate3d(0, 0, 0);
}

#nprogress .spinner {
  display: none; /* Hide the spinner if not needed */
}
