@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~react-toastify/dist/ReactToastify.min.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #34353a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Coustom */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.remove-arrow::-webkit-inner-spin-button, 
.remove-arrow::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 
  
.remove-arrow { 
  -moz-appearance: textfield; 
}

/* Code Block */
pre {
  border-radius: 0.5rem 0.5rem;
  margin: 30px 0 !important;
}

/* styles/nprogress.css */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d; /* Change the color of the progress bar */
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Height of the progress bar */
}

#nprogress .peg {
  display: block;
  position: absolute;
  z-index: 1031;
  height: 2px;
  right: 0;
  width: 100px; /* Length of the peg */
  background: #29d; /* Color of the peg */
  box-shadow: 0 0 10px #29d, 0 0 5px #29d; /* Shadow for the peg */
  opacity: 1.0;
  transform: translate3d(0, 0, 0);
}

#nprogress .spinner {
  display: none; /* Hide the spinner if not needed */
}

/*  */
/* Container to center the calendar */
.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full-screen height */
}

/* Make the calendar bigger */
body .custom-calendar {
  width: 600px;
  max-width: 100%;
  border-radius: 10px;
  padding: 20px;
  border: none;
}

/* Increase date size */
.custom-calendar .react-calendar__tile {
  font-size: 22px; /* Bigger font */
  padding: 20px; /* Bigger clickable area */
}

.custom-calendar  .react-calendar__month-view__weekdays__weekday {
  font-size: 20px;
  border: none;
}

.custom-calendar  .react-calendar__month-view__weekdays__weekday abbr:where([title]) {
  text-decoration: none;
}

body .custom-calendar  .react-calendar__navigation button {
  font-size: 42px;
  text-transform: uppercase;
  background-color: transparent;
}

body .custom-calendar button.react-calendar__navigation__arrow {
  border: 1px solid #0d9488 !important;
  display: flex;
  color: #0d9488;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  border-radius: 40px;
  background-color: transparent !important;
}

/* Tiffin Date */
.tiffin-1-paid {
  background-color: #67e8f9; /* Cyan-300 */
  color: #374151; /* Gray-700 */
}

.tiffin-1-unpaid {
  background-color: #06b6d4; /* Cyan-500 */
  color: #ffffff;
}

.tiffin-2-paid {
  background-color: #d8b4fe; /* Purple-300 */
  color: #374151;
}

.tiffin-2-unpaid {
  background-color: #a855f7; /* Purple-500 */
  color: #ffffff;
}

.tiffin-3-5-paid {
  background-color: #fda4af; /* Rose-300 */
  color: #374151;
}

.tiffin-3-5-unpaid {
  background-color: #f43f5e; /* Rose-500 */
  color: #ffffff;
}
